<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} &verbar; {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/css/styles.css">
    <link rel="icon" href="data:,">
    <link rel="canonical" href="{{ site.url}}{{ page.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta itemprop="description" name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | truncate: 160 }}{% endif %}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS Feed" href="{{ site.url }}/feed.xml" />

    <header class="site-header">
        <div class="container">
            <img class="site-header-img" src="{{ site.avatar }}" alt="Profile Photo">
            <a href="{{ site.url }}/">
                <h1 class="site-title">{{ site.title }}</h1>
            </a>
            <p>{{ site.subtitle }}</p>
        </div>
        <nav class="site-nav">
            <div class="container nav-wrapper">
                <a {% if page.name == 'index.html' %}class="active"{% endif %} href="{{ site.url }}/">Blog</a>
                <a {% if page.name == 'archive.html' %}class="active"{% endif %} href="{{ site.url }}/archive">Archive</a>
                <a {% if page.name == 'contact.html' %}class="active"{% endif %} href="{{ site.url }}/contact">Contact</a>
                <a href="{{ site.url }}/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i><span class="sr-only">feed</span></a>
                <form class="site-search" id="search-form" action="/search">
                    <input type="text" id="q" name="q" class="site-search-input" placeholder="Search for posts" aria-describedby="search-feedback"><!--
                    --><span id="search-feedback" class="search-feedback"></span><!--
                    --><button class="site-search-submit">
                        <i class="fas fa-search"></i>
                        <span class="site-search-submit-text">Search</span>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container site-content">
        {{ content }}
    </main>

    <footer class="site-footer">
        &copy; Carson Evans
        <a href="https://twitter.com/carc1n0gen" class="footer-social-link"><i class="fab fa-twitter" aria-hidden="true"></i><span class="sr-only">twitter</span></a>
        <a href="https://github.com/carc1n0gen" class="footer-social-link"><i class="fab fa-github" aria-hidden="true"></i><span class="sr-only">github</span></a>
        <a href="{{ site.url }}/feed.xml" class="footer-social-link"><i class="fa fa-rss" aria-hidden="true"></i><span class="sr-only">feed</span></a>
    </footer>
    <script>
    /* Site search */
    (() => {
        const searchForm = document.getElementById('search-form');
        const searchBox = document.getElementById('q');
        const searchFeedback = document.getElementById('search-feedback');
        searchForm.addEventListener('submit', (e) => {
            searchBox.classList.remove('invalid');
            if (!searchBox.value || searchBox.value.trim().length < 3) {
                e.preventDefault();
                searchBox.classList.add('invalid');
                searchFeedback.innerText = 'Search query must be at least three characters.'
            }
        });
    })();

    /* Contact form update subject */
    (() => {
        const contactForm = document.getElementById('contact-form');
        const nameField = document.getElementById('name');
        const subjectField = document.getElementById('subject');
        if (contactForm) {
            subjectField.value += ' from ';
            nameField.addEventListener('change', (e) => {
                subjectField.value += e.target.value;
            });
        }
    })();

    /* Heading anchors */
    (() => {
        window.addEventListener('load', () => {
            document.querySelectorAll('main h2').forEach((h2) => {
                if (h2.hasAttribute('id')) {
                    const a = document.createElement('a');
                    a.setAttribute('href', `#${h2.getAttribute("id")}`);
                    a.innerHTML = '<i class="fas fa-link" aria-hidden="true"></i><span class="sr-only">link to this heading</span>';
                    a.classList.add('heading-anchor');
                    h2.appendChild(a);
                }
            });
        });
    })();
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% if site.enable_googleanalytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleanalytics_id }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.googleanalytics_id }}');
    </script>
    {% endif %}
    {% if site.disqus_shortname %}
    <script id="dsq-count-scr" src="//carsonsblog.disqus.com/count.js" async></script>
    {% endif %}
</html>
