---
layout: master
---
<article class="post">
    <header class="post-title">
        <h2>{{ page.title }}</h2>
        <span class="post-meta">
            posted by {{ page.author }}
            <span class="post-meta-sep"></span>
            {{ page.date | date: '%B %d, %Y' }}
            {% if site.enable_disqus %}
            <span class="post-meta-sep"></span>
            <a href="{{ page.url }}#disqus_thread">Comments</a>
            {% endif %}
        </span>
    </header>
    <section class="post-content">
        {{ content }}
    </section>
    {% if site.enable_disqus %}
    <footer>
         <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}';
            this.page.identifier = '{{ site.url }}{{ page.url }}';
        };
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </footer>
    {% endif %}
</article>